src/main/mule/wellsfargosysapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="wellsfargosysapi-config" api="wellsfargosysapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="wellsfargosysapi-main">
        <http:listener config-ref="wellsfargosysapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="wellsfargosysapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="wellsfargosysapi-console">
        <http:listener config-ref="wellsfargosysapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="wellsfargosysapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:wellsfargosysapi-config">
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accounts: [
    {
      bank_id: "121000248",
      account_number: "1000000101",
      status: "AUTHORIZED",
      account_type: "DEMAND_DEPOSIT",
      account_name: "SBX Securities",
      currency_code: "USD",
      balances: [
        {
          balance_type: "OPENING_AVAILABLE",
          balance_amount: 110619.25,
          as_of_date: "2025-05-14",
          bai_type_code: "015"
        }, 
        {
          balance_type: "CLOSING_COLLECTED",
          balance_amount: 118006.75,
          as_of_date: "2025-05-14",
          bai_type_code: "045"
        }, 
        {
          balance_type: "CURRENT_AVAILABLE",
          balance_amount: 119006.15,
          as_of_date: "2025-05-31",
          bai_type_code: "060"
        }, 
        {
          balance_type: "CLOSING_LEDGER",
          balance_amount: 118006.75,
          as_of_date: "2025-05-14",
          bai_type_code: "015"
        }, 
        {
          balance_type: "CURRENT_LEDGER",
          balance_amount: 119006.15,
          as_of_date: "2025-05-31",
          bai_type_code: "030"
        }, 
        {
          balance_type: "OPENING_LEDGER",
          balance_amount: 110619.25,
          as_of_date: "2025-05-14",
          bai_type_code: "040"
        }, 
        {
          balance_type: "MTD_AVERAGE_COLLECTED_BALANCE",
          balance_amount: 119016.15,
          as_of_date: "2025-05-14",
          bai_type_code: "050"
        }, 
        {
          balance_type: "MTD_AVERAGE_CLOSING_COLLECTED_BALANCE",
          balance_amount: 119016.15,
          as_of_date: "2025-05-14",
          bai_type_code: "020"
        }
      ]
    }, 
    {
      bank_id: "ZYBFCAT0C",
      account_number: "1000000201",
      status: "AUTHORIZED",
      account_type: "DEMAND_DEPOSIT",
      account_name: "SBX Financials",
      currency_code: "USD",
      balances: [
        {
          balance_type: "CURRENT_AVAILABLE",
          balance_amount: 222902.12,
          as_of_date: "2025-05-31",
          bai_type_code: "060"
        }, 
        {
          balance_type: "CURRENT_LEDGER",
          balance_amount: 227002.12,
          as_of_date: "2025-05-31",
          bai_type_code: "030"
        }
      ]
    }, 
    {
      bank_id: "ZYBFCAT3C",
      account_number: "1000000801",
      status: "AUTHORIZED",
      account_type: "DEMAND_DEPOSIT",
      account_name: "SBX Chx Cashing",
      currency_code: "USD",
      balances: [
        {
          balance_type: "CURRENT_AVAILABLE",
          balance_amount: 882907.17,
          as_of_date: "2025-05-31",
          bai_type_code: "060"
        }, 
        {
          balance_type: "CURRENT_LEDGER",
          balance_amount: 887007.17,
          as_of_date: "2025-05-31",
          bai_type_code: "030"
        }
      ]
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="3cc48153-f7f4-47cd-a49c-cb6aa6c5b4f3" name="implementationFlow" />
    </flow>
</mule>
